* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* *************************************************** 
header style
 *************************************************** */
.main-header {
    display: flex;
    padding: 10px 50px;
    position: absolute;
    width: 100%;

}
.red-logo {
    background-color: #85d6ff;
    padding: 10px;
}
.red-logo img {
    width: 50px;
}